<div class="row p-1">
  <div class="row m-3 w-100">
    <div class="col">
      <button class="btn btn-lg rounded-circle btn-circle m-2 col" [routerLink]="['/upload']" routerLinkActive="active">
        <i class="fas fa-plus fa-2x"></i>
      </button>
    </div>
    <div class="col-6 search input-group col align-items-baseline">
      <span>
        <i class="fas fa-search fa-2x"></i>
      </span>
      <input id="search" type="text" class="form-control" [(ngModel)]="query" (keyup)="searchArts()" />
      <button class="btn btn-danger" (click)="resetQuery()" [disabled]="!query"> x </button>
    </div>
  </div>
  <div class="col-12">
    <div class="card-columns">
      <div style="display: inline-block" class="card hovereffect rounded-0" *ngFor="let art of displayedArts">
        <img class="card-img rounded-0" [src]="'assets/images/' + art.picture_path" alt="">
        <div class="overlay card-body">
          <h2>{{art.name}}</h2>
          <p class="card-text lead author">{{art.author | uppercase }}</p>
          <p class="card-text lead text-light">{{art.ville}}</p>
          <button *ngIf="_authService.loggedIn()" class="btn btn-lg rounded-circle btn-circle" [routerLink]="['/details/', art._id]"
            routerLinkActive="active">
            <i class="fas fa-eye fa-lg"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

