<a [routerLink]="['artwork']">
  <p>Ajouter</p>
</a>

<div class="col-12" *ngFor="let art of arts">

  <div class="row mt-5">
    <div class="col-md-4 mb-3">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">{{art.name}}</h5>
          <p class="card-text">{{art.description}}</p>
          <p class="card-text">{{art.ville}}</p>
        </div>
        <div class="card-footer text-muted">
          <a class="btn btn-primary" [routerLink]="['details/', art._id]" routerLinkActive="active">Voir les détails</a>
        </div>
      </div>
    </div>
  </div>
</div>
