<div class="row p-O" style="height: 700px;" [ngStyle]="{ 'background-image': 'url(assets/images/' + art.picture_path + ')'}">
  <div class="col-md-4 art-detail d-flex flex-column justify-content-between p-4" style="height: 100%;">
    <div class="text-center">
      <h2 class="display-4 text-white">{{art.name}}</h2>
      <p class="lead text-white">{{art.description}}</p>
      <p class="lead text-white">{{art.ville}}</p>
    </div>
    <div class="d-flex flex-row justify-content-around mb-3 p-2">
      <a class="btn btn-warning btn-lg rounded-circle btn-circle m-1" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          <i class="fas fa-edit fa-2x"></i>
      </a>
      <button class="btn btn-danger btn-lg rounded-circle btn-circle m-1" type="button" (click)='deleteMyArt()'>
          <i class="fas fa-trash-alt fa-2x"></i>
      </button>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          <form class="form">
            <div class="form-group">
              <label for="name">Name</label>
              <input [(ngModel)]='art.name' type="text" name="name" class="form-control rounded-0" required>
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <input [(ngModel)]='art.description' type="text" name="description" class="form-control rounded-0">
            </div>
            <div class="form-group">
              <label for="ville">Ville</label>
              <input [(ngModel)]='art.ville' type="text" name="ville" class="form-control rounded-0">
            </div>
            <button (click)='editMyArt()' type="button" class="btn btn-success float-right">EDIT</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
