<nav class="navbar navbar-expand-lg navbar-white">
    <a class="navbar-brand" href="#">Creart</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse nav justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
          <button class="nav-link btn btn-warning btn-lg rounded-circle btn-circle m-1" *ngIf="_authService.loggedIn()" routerLink="/user" routerLinkActive="active"><i class="fas fa-paint-brush fa-2x"></i></button>
          <button class="nav-link btn btn-warning btn-lg rounded-circle btn-circle m-1" *ngIf="_authService.loggedIn()" routerLink="/account" routerLinkActive="active"><i class="fas fa-user-alt fa-2x"></i></button>        
          <button class="nav-link btn btn-warning btn-lg rounded-circle btn-circle m-1" style="cursor:pointer" *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()"><i class="fas fa-sign-out-alt fa-2x"></i></button>        
          <a class="nav-link" *ngIf="!_authService.loggedIn()" routerLink="/login" routerLinkActive="active">Login</a>
          <a class="nav-link" *ngIf="!_authService.loggedIn()" routerLink="/register" routerLinkActive="active">Register</a>
      </ul>
    </div>
  </nav>    
  <div class="container-fluid">
    <router-outlet></router-outlet>            
  </div>